<?xml version="1.0" encoding="UTF-8"?>
<widget 
    xmlns="http://www.w3.org/ns/widgets" 
    id="com.jjk.arena" 
    version="1.0.0"
    android-versionCode="1">

    <name>JJK Arena</name>
    <description>Jujutsu Kaisen Arena - 20 Personagens</description>
    <author email="davi@email.com">Davi Lopes Cabral</author>
    
    <content src="index.html"/>
    
    <preference name="Fullscreen" value="true"/>
    <preference name="Orientation" value="landscape"/>
    <preference name="AutoHideSplashScreen" value="true"/>
    <preference name="StatusBarOverlaysWebView" value="false"/>
    <preference name="StatusBarBackgroundColor" value="#000000"/>
    
    <icon src="icon.png"/>
    
    <platform name="android">
        <preference name="android-minSdkVersion" value="21"/>
        <preference name="android-targetSdkVersion" value="33"/>
    </platform>
</widget>